.git
.gitignore
.trae
.vscode

.env
backend/.env
frontend/.env

backend/vendor
backend/node_modules
frontend/node_modules

backend/storage/logs/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*

backend/tests
backend/phpunit.xml
backend/.phpunit.result.cache

frontend
docs

composer.phar
php.ini

*.log
*.sqlite
*.sql
